.body{
    background-color: rgb(203, 206, 206);
    position: absolute;
    
}
.contenedor{
    background-color: white;
    border: 0.052vw solid rgb(0, 0, 0);
    border-radius: 0vw 1.042vw 1.042vw 0vw;
    position: absolute;
    width: 65.5vw;
    height: 47.875vw;
    margin-top: 13.021vw;
    margin-bottom: 1.042vw;
    margin-left: 15.667vw;
    display: flex;
    justify-content: center;
    align-items: start;
    align-items: center;
    z-index: 1;

}
.Metrolínetarjeta{
    
    width: 44.271vw;
    height: 26.042vw;
   margin-right: 4.688vw;
   margin-bottom: 14.583vw;
   position: absolute;
   z-index: 1;

}
.Logo_grande{
    border: 1px rgb(56, 47, 47); 
    margin-bottom: 41.667vw;
    width: 15.752vw;
    margin-right: 46.875vw;
    position: absolute;
    z-index: 1;
    
}
.Logo_pequeño{
    position: absolute;
    width: 8.156vw;
    margin-left: 41.667vw;
    margin-top: 35.854vw;
    z-index: 2;
}
.Verde_claro{
    position: absolute;
    width: 9.543vw;
    margin-left: 41.667vw;
    margin-top: 38.458vw;
    z-index: 1;

}
.Carrito{
    position: absolute;
    margin-bottom: 44.792vw;
    width: 12.323vw;
    margin-left: 58.729vw;
    margin-top: -0.521vw;
    z-index: 1;

}
.Lupa{
    position: absolute;
    margin-bottom: 41.146vw;
    width: 2.323vw;
    margin-left: 40.104vw;
    z-index: 1;
}

.comprar{
    position: absolute;
    font-family: Arial black;
    font-size: 1.302vw;
    margin-left: 41.406vw;
    margin-top: 42.583vw;
    z-index: 1;
}
.Comprar-Tarjeta{
position: absolute;
font-family: Arial;
color: black;
font-size: 1.918vw;
margin-bottom: 42.908vw;
margin-left: 2.417vw;
z-index: 1;

}
.Ver-Saldo{
    position: absolute;
    font-family: Arial;
    text-decoration-line: underline;
    color: black;
    font-size: 1.918vw;
    margin-bottom: 45.146vw;
    margin-left: 26.729vw;
    z-index: 1;

}
.Primer-texto{
    font-weight: 26.042vw;
    font-family: tahoma Black;
    font-size: 2.083vw;
    margin-top: 14.583vw;
    margin-left: -2.604vw;
    position: absolute;
   z-index:1 ;
}
.Segundo-texto{
    font-size: 1.823vw;
    font-family: Arial;
    margin-top: 20.313vw;
    margin-left: -5.208vw;
    position: absolute;
    z-index: 1;

}
.Tercer-texto{
font-size: 1.823vw;
font-family: Arial;
margin-top: 25.521vw;
margin-left: -5.729vw;
position: absolute;
z-index: 1;

}
.Cuarto-texto{
    border-radius: 0.521vw;
    text-align: center;
    border: solid 0.052vw black;
    width: 15.625vw;
    height: 2.604vw;
    margin-right: 5.729vw;
    color: rgb(147, 148, 148);
    margin-top: 31.771vw;
    font-size: 1.823vw;
    font-family: Arial;
    position: absolute;
    z-index: 1;
} 
.barra{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 0vw 1.042vw 1.042vw 0vw;
    position: absolute;
    width: 7.209vw;
    height: 47.999vw;
    text-align: center;
    margin-top: 13.021vw;
    margin-left: 75.958vw;
    display: flex;
    justify-content: center;
    align-items: start;
    z-index: 1;
}
.abajo{
    position: absolute;
    color: white;
    width: 1.945vw;
    margin-top: 44.271vw;
   
}
.arriba{
    position: absolute;
    width: 1.945vw;
    color: white;margin-top: 2.083vw;

}
.Valores{
position: absolute;
color: white;
font-family: Arial;
font-size: 2.302vw;
margin-top: 7.375vw;

}
.valor-1{
    position: absolute;
    color: rgb(163, 163, 163);
    font-family: Arial;
    font-size: 1.702vw;
    margin-top: 15.625vw;
}
.valor-2{
    position: absolute;
    color: white;
    font-family: Arial;
    font-size: 1.702vw;
    margin-top: 20.835vw;
}
.valor-3{
    position: absolute;
    color: rgb(163, 163, 163);
    font-family: Arial;
    font-size: 1.702vw;
    margin-top: 26.302vw;
}
